<h1><%= @artist.name %></h1>

<!-- add an artist's album here! -->
<p>
  <%= link_to "Edit Artist", edit_artist_path(@artist) %>
  <%= link_to "Delete Artist", artist_path(@artist), method: :delete %>
</p>
<%= link_to  "Return to Home", artists_path %>
