<h1>Songs</h1>
<hr>
<% @songs.each do |song| %>
  <p class='song'>
    <strong><%= song.name %></strong> (<%= song.category %>)
    <%= link_to "View Song", song_path(song) %>
  </p>
  <hr>
<% end %>
<%= link_to "Home", root_path %>
