<h1><%= @song.name %></h1>
<p>
  <%= link_to "Edit Song", edit_song_path( @song) %>
  <%= link_to "Delete Song", song_path(@song), method: :delete %>
</p>
<%= link_to  "Return to Song", songs_path  %>
