<h1>Albums</h1>
<hr>
<% @albums.each do |album| %>
  <p class='album'>
    <strong><%= album.name %></strong> (<%= album.year_released %>)

    <%= link_to "View Album", album_path(album) %>
  </p>
  <hr>
<% end %>
