<h1><%= @album.name %></h1>
<!--
add an album's songs here! -->
<p>
  <%= link_to "Edit album", edit_album_path(@album) %>
  <%= link_to "Delete album", album_path(@album), method: :delete %>
</p>
<%= link_to  "Return to albums", albums_path  %>
